
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');


header img{
  width: 100%;
  background-image:image"kuva/tausta.jpg";
  height: 100px;
  


}


html, body{
  font-family: 'Raleway';
  background-color: #efd9d5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #daa79e;
}

li {
  float:left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #efd9d5;
}


.quote{
    width: 90%;
    margin: center;
    font-size: 28;
    padding: 150px 10px 150px 10px;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 50%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #daa79e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #daa79e;
  }
  
  /* Add a background color and some padding around the form */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }


.row {
  margin: auto;
}

footer {
  text-align: center;
  padding-top: 40px;
  height: 100px;
  background-color: #daa79e;
  color: white;
}



@media only screen and (min-width: 650px){ 


section{
  width: 75%;
  margin: auto;
  font-size: 18px;

  
}
header{
  font-size: 20px;
  text-align: center;
  padding: left;
  margin: 0px;


}
.quote{
  text-align: center;
  font-size: 25px;
}
}

@media only screen and (min-width: 1250px){

section{
  width: 90%;
  margin: auto;
  font-size: 18px;

  
}
header{
  font-size: 20px;
  text-align: center;
  margin: 0px;


}
.column {
  float: left;
  width: 45%;
  padding-right: 5%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
}